<nav class="navbar navbar-toggleable-md navbar-inverse fixed-top bg-inverse" style="margin-bottom: 0; border-radius: 0px; height:60px">
        <div class="navbar-brand" style="color: #ffffff; letter-spacing: 2px"><strong>JAE KYUNG</strong></div>
            <ul class="nav navbar-nav">
                <li><a href="/">Projects</a></li>
                <li><a href="/articles">Articles</a></li>
                <li><a href="/awards">Awards</a></li>
                <li><a href="https://github.com/jayleec" title="GitHub"><img src="./public/img/github.png" style="width:25px; height: 25px;"></a></li>
            </ul>
</nav>
