{{set . "title" "Jae Kyung"}}
{{template "header.html" .}}
{{template "nav.html"}}
<header class="jumbotron" style="background-image:url(./public/img/awardback.jpg);  background-size: cover;">
    <div class="container">
        <div class="row">
            <h1 style="color: #ffffff; text-align: center; opacity: 0.65;">Awards</h1>
        </div>
    </div>
</header>

<div class="container">
    <div class="row">

            {{template "flash.html" .}}
            <h2 style="text-align: center; color:#6b6b6b">2016</h2>
            <ul class="list-group" style="list-style: none" >
                <li class="lead" style="border: none;">12월 13일 |&nbsp;&nbsp;&nbsp; <strong>제 1회 동국SW 공모대전 / 대상</strong></li>
                <li class="lead" style="border: none;">12월 07일 |&nbsp;&nbsp;&nbsp; <strong>2016 한이음 SW 공모대전/ 입선</strong></li>
                <li class="lead" style="border: none;">11월 08일 |&nbsp;&nbsp;&nbsp; <strong>동국대학교 컴퓨터공학과 졸업전시회 / 우수상</strong></li>
            </ul>
            <h2 style="text-align: center; color:#6b6b6b">2015</h2>
            <ul class="list-group" style="list-style: none" >
                <li class="lead" style="border: none;">12월 16일 |&nbsp;&nbsp;&nbsp; <strong>지역사회연계형 창업캡스톤디자인 경진대회/ 금상</strong></li>
                <li class="lead" style="border: none;">12월 10일 |&nbsp;&nbsp;&nbsp; <strong>월드프렌즈 IT봉사활동/ 우수활동팀상</strong></li>
            </ul>

    </div>
</div>

{{template "footer.html" .}}
